//Color pallete 
$pinky: #eaeaea;
$myblue: #a299f6;
$profile-blue: #a299f6;
$border: #707070;
$button-color: rgb(255, 130, 151);

// Mixins
@mixin flex-centering(){
    display: flex;
    justify-content: center;
    align-items: center;
}

