
Header {
  /* border: 2px solid red; */
  background: #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

Header > p {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin: 0;
  width: 500px;
  font-size: 1.5rem;
}
Header > p > span {
  color: #a299f6;
}

#profile-logo {
  background: pink;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 2px;
  position: absolute; 
  right: 10px;
  overflow: hidden;
  transform: rotate(-45deg);
}
#profile-logo::after {
  content: '';
  display: block;
  background: #a299f6;
  height: 50%;
  width: 100%;
}
main {
  /* border: 3px solid gold; */
  display: flex;
  
}
#menu {
  /* border: 2px solid yellow; */
  background: #eaeaea;
  
  width: 30%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.toggle-menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(1.3);
}
.add-calendar-btn {
  transform: scale(1.3);
  color: #a299f6;
}
#calendar-container {
  width: 70%;
  height: auto;

  position: relative;
  top: -100px;
}
.calendar {
  background: white;
  height: 70px;
  
  margin: 10px 0px;
  border: 1px solid #707070;

  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  /* border: 2px solid black; */
  width: 70%;
  
}

@media only screen and (max-width: 450px){
  main {
    flex-direction: column;
  }
  #menu {
    min-height: 50vh;
    width: 100%;
  }
  #calendar-container {
    top: 0;
  }
  #display {
    width: 100%;
  }
}